<!DOCTYPE html>
<html>
    <head>
        <title id="title">P-GW and RAN Simulator</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="/static/bootstrap.min.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
        <div class="container">
            <div class="masthead">
                <img src="/static/f5logo.png" class="png" width="74" height="68" alt="F5 Networks"/>
                <h1>P-GW and RAN Simulator</h1>
                <ul id="menuTab" class="nav nav-tabs">
                    <li class="active" id="subs"><a href="#subscribers" data-toggle="tab">Subscribers</a></li>
                    <li class="" id="subs_profile"><a href="#subscriber-profile" data-toggle="tab">Subscriber Profiles</a></li>
                    <li class="" id="conn_profile"><a href="#connection-profile" data-toggle="tab">Connection Profiles</a></li>
                    <li class="" id="settings"><a href="#settings" data-toggle="tab">Settings</a></li>
                </ul>
            </div>
            <div class="body">
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="subscribers">
                        %include subscribers.tmpl
                    </div>
                    <div class="tab-pane fade" id="subscriber-profile">
                        %include subs_profile.tmpl
                    </div>
                    <div class="tab-pane fade" id="connection-profile">
                        %include conn_profile.tmpl
                    </div>
                    <div class="tab-pane fade" id="settings">
                        %include settings.tmpl
                    </div>
                </div>
            </div>
            <div class=footer>&copy; F5 Networks 2014</div>
        <div>

        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/pgwran.js"></script>
    </body>
</html>
