<div class="subs_template" style="display: none">
<div class="panel panel-default">
    <div class="panel-body">
        <input type="hidden" name="subs_id" id="subs_id" value="${subs_id}">
        <div class="row">
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">Subscriber</span>
                    <input type="text" class="form-control input-sm" id="name" name="name" readonly="true">
                </div>
            </div>
            <div class="col-md-5">
                <div class="input-group">
                    <!-- Button and dropdown menu -->
                    <span class="input-group-addon">Connection</span>
                    <select name="conn_id" class="form-control input-sm">
                    </select>
                </div>
            </div>
            <div class="col-md-1">
                <input type="checkbox" class="cbox"> ON
            </div>
        </div>
    </div>
</div>
</div>
