<!--
<form class="form" action="/subscriber" ng-controller="SubscriberController">
    <div class="panel panel-default">
        <div class="panel-body">
            <input type="hidden">
            <div class="row">
                <div class="col-md-5">
                    <div class="input-group">
                        <span class="input-group-addon">Subscriber</span>
                        <input type="text" class="form-control input-sm" readonly="true">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="input-group">
                        <span class="input-group-addon">Connection</span>
                        <select ng-model="conn_id" class="form-control input-sm">
                        </select>
                    </div>
                </div>
                <div class="col-md-1">
                    <input type="checkbox" class="cbox" name="enabled" checked>
                    ON
                </div>
            </div>
        </div>
    </div>
</form>
-->
