img.png {
    float: left;
    margin: 10px 10px 5px 10px;
}
.footer {
    border-top: 1px solid #eee;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-tabs li a {
    margin: 0px;
    font-size: 14px;
    padding: 5px 10px 5px 10px;
}

/* Main marketing message and sign up button */
.body {
    padding: 5px;
    background-color: transparent;
}
